@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    color: #333333;
}

nav {
    display: flex;
    padding: 40px 60px;
}

.logo {
    width: 35vw;
}

.nav-items {
    display: flex;
    width: 65vw;
}

.line {
    border-bottom: 2px solid #000;
    width: 50%;
    flex-shrink: 0;
    position: relative;
    bottom: 21px;
}

.nav-items ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    font-size: 20px;
    width: 50%;
    flex-shrink: 0;
}

main {
    display: flex;
}

.main-img {
    width: 35vw;
}

.main-img img {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    width: 65vw;
}

.content-top {
    display: flex;
    margin: 0 100px;
}

.content-top h1 {
    flex: 65;
    font-size: 100px;

    font-family: "Kumar One Outline";
    line-height: 1.2em;
    font-style: oblique;
    color: white;
  -webkit-text-stroke: 1px black;
}

.content-top h1 span {
    margin-left: 170px;
}



.content-top p {
    flex: 30;
    font-size: 30px;
    align-self: flex-end;
}

.socials {
    flex: 5;
}

.socials ul {
    display: flex;
    flex-direction: column;
    height: 225px;
    font-size: 30px;

    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
}



.content-mid {
    padding: 30px 100px;
    display: flex;
    justify-content: flex-end;
}

.content-mid a {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 60px;

    font-weight: 600;
}

.content-bottom {
    display: flex;
    justify-content: space-evenly;
}

.bottom-left {
    display: flex;
}

.vertical-line {
    border-right: 1px solid #333333;
    height: 250px;

    position: relative;
    right: 17px;
    top: 16px;

    margin-top: -50px;
}

.bottom-left ul {
    font-size: 20px;
    margin-top: -40px;
}

.bottom-left li{
    padding-bottom: 20px;
}

.bottom-middle {
    width: 300px;
}

.bottom-middle p:first-child {
    font-size: 80px;
    margin-top: -80px;

}

.bottom-middle img {
    width: 300px;
}
.bottom-middle
{
    margin-top: -70px;
}

.bottom-right {
    align-self: center;
}